
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <link rel="stylesheet" href="../../public/css/main.css">

      <link href="https://fonts.cdnfonts.com/css/blanka" rel="stylesheet">
      <title>WEB322 - Assignment Template</title>
  </head>
  <body>

    <div class="slider1"></div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 - Sahilpreet Singh</span>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{#navLink "/blog"}}blog{{/navLink}}
            {{#navLink "/about"}}About{{/navLink}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
             {{#navLink "Posts"}}Posts{{/navLink}}  
               {{#navLink "/Categories"}}Categories{{/navLink}}  
            
              {{#navLink "/posts/add"}}Add Post{{/navLink}}  
         
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
     
    <div class="container">
     
        {{{body}}}
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script>
    let t1 = gsap.timeline({defaults: {ease:"RoughEase.easeOut"}});
    t1.to("span" , {y:'0%',duration:0.7});
    t1.to(".left",{x:'0%',duration:1 } , "-=1");

    t1.to(".navbar-brand",{x:'0%',duration:1 } , "-=1");
    t1.to(".slider1",{y:'0%' ,duration:1.5 }, "-=1");


  
   

    
 
</script>
    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>