<div class="row">
    <div class="col-md-12">
          <h2 style="margin-top: 2em;">Categories</h2>

  <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            </thead>
            <tbody>
             {{#each category}}
             <tr>
      <td>{{this.id}}</td>
    <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
    
</tr>
      
           {{/each}}

           
                    {{#unless category}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong> 
    </div>
    {{/unless}}
            </tbody>
        </table>
    </div>
</div>
